# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Uploads
uploads/

# Environment variables
.env
*.env

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# spaCy models
en_core_web_sm/
